.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  background-color: #ffffff;
  overflow: hidden;
}

.navlink {
    float: right;
    color: #232427;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navlink.active {
  background-color: #f54526;
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #232427;
}

body {
  color: #232427;
  background-color: #ffffff;
}

.container{
  margin-top: 53px;
  margin-left: 15%;
}

.posts-list {
  list-style: none;
}

.card {
  display: grid;
  grid-template-columns: 40% 40%;
  height: 20rem;
  text-decoration: none;
  margin: 1%;
}

.full-card {
  display: grid;
  height: 20rem;
  width: 79%;
  overflow: hidden;
  text-decoration: none;
  margin: 1%;
}

.box {
  position: relative;
  padding: 2%;
  text-decoration: none;
}


.content h3{
  text-decoration: none;
}

.content article {
  text-decoration: none;
}

.card img {
  max-width: 20rem;
  max-height: 20rem;
  background-color: #f4f4f4;
}

figure {
  text-align: center;
  vertical-align: middle;
  max-width: 20rem;
  max-height: 20rem;
  background-color: #f4f4f4;
  
}

figure img{
  max-width: 20rem;
  max-height: 20rem;
  
}

figure video{
  max-width: 20rem;
  max-height: 20rem;
}

.article_link {
  text-decoration: none;
  font-weight: 50;
  position: absolute;
  bottom: 2%;
  display: block;
  width: 115px;
  height: 40px;
  background: #dd877a;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  
}

.article a {
  transition-duration: 0.4s;
  border: 2px solid #dd877a;
}

.article a:hover {
  background-color: #ffffff;
  color: #232427;
}

.article a:active {
  transition-duration: 0.2s;
  color: #ffffff;
}

.comments-list {
  list-style: none;
}